.button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: inherit;
    border: none;
    margin: 10px;
}

.img {
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
}