.form {
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 8px;
}

.input, .textarea {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    outline: none;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.error {
    border: 1px solid red;
}

.errorText {
    color: red;
    margin-bottom: 10px;
}

.actions {
    display: flex;
    justify-content: space-between;
}