.container {
    min-width: 60vw;
    max-width: 1200px;
    min-height: 100vh;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.productImage {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    padding: 10px;
}

.productTitle {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 8px;
    overflow: hidden;
}

.productPrice {
    font-size: 1.3rem;
    font-weight: 600;
    color: #02a270;
    margin-bottom: 8px;
}

.productRating {
    margin-bottom: 8px;
}

.productCategory {
    font-size: 0.8rem;
    margin-bottom: 16px;
}

.icons {
    display: flex;
    gap: 8px;
    margin-top: auto;
    justify-content: flex-end;
    padding-top: 16px;
    border-top: 1px solid #000;
}

.productDescription {
    font-size: 1rem;
    margin-bottom: 15px;
    text-align: center;
}