.container {
    min-width: 100vw;
    max-width: 1200px;
    min-height: 100vh;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter {
    margin: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;

    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #cccccc94;
}

.productsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.productLink {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.imageContainer {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.productImage {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    padding: 10px;
}

.productTitle {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 8px;
    overflow: hidden;
}

.productPrice {
    font-size: 1.3rem;
    font-weight: 600;
    color: #02a270;
    margin-bottom: 8px;
}

.productCategory {
    font-size: 0.8rem;
    margin-bottom: 16px;
}

.icons {
    display: flex;
    gap: 8px;
    margin-top: auto;
    justify-content: flex-end;
    padding-top: 16px;
    border-top: 1px solid #000;
}